

body {
    background-color: rgba(0, 0, 0, 0.971);
    font-family: 'Roboto', sans-serif;
}


.container {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    color: white;
}

h1 {
    color: #fff;
}

h3 {
    color: #fff;
}

p {
    color: #fff;
}

#pesosClp {
    padding: 5px;
    border-radius: 5px;
}

.moneda{
    margin-top: 15px;
    margin-bottom: 0px;
}

#convertirA {
    padding: 5px;
    border-radius: 5px;
}

#conversion {
    background-color: deepskyblue;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;  
}

#resultadoConversion {
    color: #fff;
    display: block;
    margin-top: 10px;

}